﻿.k-tabstrip-left{
    margin-top: 10px;
}

.k-tabstrip-left .k-tabstrip-items{
    float: left;
    width: 149px;
    padding: 0 !important;
    margin-left: 5px;
}

.k-tabstrip-left .k-tabstrip-items .k-item {
    float: left;
    width: 100%;
    border-width: 1px 0 1px 1px;
    margin-bottom: -1px;
    padding-bottom: 1px;
}

.k-tabstrip-left .k-tabstrip-items .k-item.k-state-active{
    padding-right: 1px;
    border-right-width: 0;
    z-index: 1000;
}

.k-tabstrip-left .k-content {
    margin-left: 155px;
    min-height: 200px;
}