﻿/*
    Overwrite default Kendo UI style
*/

.k-header
{
    white-space: normal !important;
    
}

.k-grid-header .k-header 
{
    background-color:#eee;
    text-align:center !important;
    border-width: 0 0 0 0 !important;
}

.k-menu
{
    border-right:none !important;
}

.k-menu.k-header, .k-menu .k-item{
    border-color: #dadada !important;
}

.k-tabstrip .k-tabstrip-items {
    padding: .3em .29em 0 !important;
}

.k-popup, .k-menu .k-group, .k-grid .k-filter-options, .k-time-popup, .k-datepicker-calendar, .k-autocomplete.k-state-border-down, .k-autocomplete.k-state-border-up, .k-dropdown-wrap.k-state-active, .k-picker-wrap.k-state-active, .k-imagebrowser .k-image 
{
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
}

.k-grid td {
	text-overflow: clip !important;
    border-width: 0 0 0 0 !important;
}

.k-state-selected .k-state-border-down{
    color: #fff !important;
    background-color: #7ea700 !important;
    border-color: #7ea700 !important;

}

.k-grid tbody .k-button{
    min-width: 30px !important;
}

.k-window{
    border-color:#ccc !important;
}

.k-tabstrip .k-content{
    padding: .92em .92em !important;
}

.k-upload-button{
    width:auto !important;
}

.k-upload-files
{
    border:none !important;
}

.k-i-pencil
{
    vertical-align: text-top !important
}

.k-filename{
    max-width: 530px !important;
}

.k-button.k-state-disabled:hover
{
    color:#ccc !important;
}

.k-button:hover .k-i-close, .k-button:hover .k-delete{
    background-color: #8ebc00;
}

.k-tab-on-top{
    padding-bottom: 0 !important;
}

.k-tabstrip-items .k-state-active{
    padding-bottom: 1px !important;
}